
python-dotenv
llama-index
llama_index.embeddings.huggingface
llama-index-readers-file
llama-index-llms-groq
arxiv
llama-index-tools-tavily-research
crewai
crewai-tools
requests
llama-index-embeddings-nvidia
